---
---
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.data.cv.person.name }}'s CV</title>
  <meta name="author" content="{{ site.data.cv.person.name }}" />
  <meta name="description" content="{{ site.data.cv.person.name }}'s CV" />
  <link rel="shortcut icon" href="/favicon.png">
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/cv.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="all" />

  <link href='https://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Passion+One:400,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>

<body>
  <div class="container">
      <div class="row header bg-gray">
          <div class="col-xs-4">
              <h1 class="name">{{ site.data.cv.person.name }}</h1>
              <span class="profession">{{ site.data.cv.person.profession }}</span>
          </div>

          <div class="col-md-5 text-center">
              <img src="{{ site.data.cv.person.depiction }}" height="130px" width="130px" alt="{{ site.data.cv.person.name }}'s Photo" class="img-rounded">
          </div>

          <div class="col-xs-3">
              <ul class="list-unstyled">
                  {% if site.data.cv.person.location %}
                      <li><i class="fa fa-map-marker"></i> {{site.data.cv.person.location}}</li>
                  {% endif %}
                  {% if site.data.cv.person.citizenship %}
                      <li><i class="fa fa-flag-o"></i> {{site.data.cv.person.citizenship}}</li>
                  {% endif %}
                  {% if site.data.cv.person.email %}
                      <li><i class="fa fa-envelope-o"></i>
                          <a href="mailto:{{ site.data.cv.person.email }}">{{site.data.cv.person.email }}</a></li>
                  {% endif %}
                  {% if site.data.cv.person.site %}
                      <li><i class="fa fa-laptop"></i>
                          <a href="http://{{ site.data.cv.person.site }}">{{ site.data.cv.person.site }}</a></li>
                  {% endif %}
                  {% if site.data.cv.person.phone %}
                      <li><i class="fa fa-phone"></i> {{site.data.cv.person.phone}}</li>
                  {% endif %}
                  {% if site.data.cv.person.github %}
                      <li><i class="fa fa-github"></i>
                          <a href="https://github.com{{site.data.cv.person.github}}">{{site.data.cv.person.github}}</a>
                      </li>
                  {% endif %}
                  {% if site.data.cv.person.stackoverflow %}
                      <li><i class="fa fa-stack-overflow"></i> <a
                              href="http://stackoverflow.com/users/1252056{{site.data.cv.person.stackoverflow}}">{{site.data.cv.person.stackoverflow}}</a>
                      </li>
                  {% endif %}
                  {% if site.data.cv.person.linkedin %}
                  <li><i class="fa fa-linkedin"></i>
                      <a href="https://www.linkedin.com/in{{site.data.cv.person.linkedin}}">{{site.data.cv.person.linkedin}}</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>

      <!-- Professional Summary -->
      {% if site.data.cv.person.summary %}
      <div class="row section">
        <div class="col-xs-12">
          <h2>Professional Summary</h2>
          <p>{{ site.data.cv.person.summary }}</p>
        </div>
      </div>
      {% endif %}

    <div class="row  section section-border">
      <div class="col-xs-3">
        <h2>Career</h2>
      </div>

      <div class="col-xs-9">
        {% for item in site.data.cv.career %}
         <div class="jd">
          <div class="row">
            <div class="col-xs-6">
              <h4><b>{{ item.position }}</b></h4>
            </div>
            <div class="col-xs-6 pull-right">
              <h5 class="pull-right">{{ item.dates }}<br/>
              {{item.company}} <i>({{item.location}})</i></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>{{ item.summary }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

           {% if item.accomplishments.size > 0 %}
            <b>Main Responsibilities:</b>
           {% endif %}
            <ul>
            {% for accomplishment in item.accomplishments %}
              <li>{{ accomplishment.accomplishment }}</li>
            {% endfor %}
            </ul>
          </div>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row section section-border pagebreakishere">
      <div class="col-xs-3">
        <h2>Technical Skills</h2>
      </div>
      <div class="col-xs-9">
        <div class="row">
          <!-- Cloud Platforms -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-cloud"></i> Cloud Platforms</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.cloudPlatforms %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
          <!-- Containerization and Orchestration -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-cubes"></i> Containerization & Orchestration</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.containerizationAndOrchestration %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
          <!-- Infrastructure as Code -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-code-fork"></i> Infrastructure as Code</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.infrastructureAsCode %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row">
          <!-- CI/CD Tools -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-rocket"></i> CI/CD Tools</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.ciCdTools %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
          <!-- Monitoring and Logging -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-tachometer"></i> Monitoring & Logging</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.monitoringAndLogging %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
          <!-- Programming and Scripting -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-code"></i> Programming & Scripting</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.programmingAndScripting %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row">
          <!-- Other Tools -->
          <div class="col-xs-4">
            <h4 class="techSkillHeader"><i class="fa fa-wrench"></i> Other Tools</h4>
            <ul class="list-unstyled">
            {% for item in site.data.cv.technicalSkills.otherTools %}
              <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <!-- Key Competencies -->
        {% if site.data.cv.technicalSkills.list.size > 0 %}
        <div>
          <h4><i class="fa fa-male"></i> Key Competencies:</h4>
          <ul>
            {% for item in site.data.cv.technicalSkills.list %}
              <li>{{ item.tr }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Certifications Section -->
    {% if site.data.cv.certifications.size > 0 %}
    <div class="row section section-border">
      <div class="col-xs-3">
        <h2>Certifications</h2>
      </div>
      <div class="col-xs-9">
        {% for cert in site.data.cv.certifications %}
        <div class="row">
          <div class="col-xs-12">
            <h4><b>{{ cert.name }}</b></h4>
            <p>{{ cert.date }}</p>
            {% if cert.badge %}
              {{ cert.badge | safe }}
            {% elsif cert.link %}
              <a href="{{ cert.link }}">{{ cert.link }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Education Section -->
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Education</h2></div>
      <div class="col-xs-9">
        {% for item in site.data.cv.education %}
        <div class="row">
          <div class="col-xs-12">
            <h4><b>{{ item.degree }}</b> in {{ item.name }}</h4>
            <p><i class="fa fa-calendar"></i> {{ item.dates }}</p>
            <p><i class="fa fa-university"></i> {{ item.institution }}</p>
            {% if item.link %}
            <a href="{{ item.link }}">{{ item.link }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Languages Section -->
    {% if site.data.cv.languages.size > 0 %}
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Languages</h2></div>
      <div class="col-xs-9">
        <ul>
          {% for lang in site.data.cv.languages %}
            <li>{{ lang.name }}: {{ lang.proficiency }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <!-- Interests Section -->
    {% if site.data.cv.interests.size > 0 %}
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Interests</h2></div>
      <div class="col-xs-9">
        <ul>
          {% for interest in site.data.cv.interests %}
            <li>{{ interest.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>
</body>

</html> 
